asgiref==3.11.0
Django==5.1.15
sqlparse==0.5.5
tzdata==2025.3
django-extensions
setuptools
wheel
tensorflow
joblib
matplotlib
scikit-learn
numpy==2.3.5
pandas==2.3.3
rdkit==2025.9.5
openpyxl==3.1.5
mordred==1.2.0