{% load static %}
<footer>
  <div class="container text-center">
    <div class="footer mt-0">     
            <div class="footer-links">
              <p><strong>RESOURCES</strong></p>
              <li><a class="notranslate" href="https://github.com/julief23/AGAPE_2026" target="_blank">AGAPE GitHub</a></li>
              <li><a class="notranslate" href="https://www.unipa.it/" target="_blank">Università degli Studi di Palermo</a></li>
              <li><a class="notranslate" href="https://www.fondazionerimed.eu/" target="_blank">Fondazione Ri.MED</a></li>
              <li><a class="notranslate" href="https://u-paris.fr/" target="_blank">Université Paris Cité</a></li>
              <li><a class="notranslate" href="https://www.itodys.univ-paris-diderot.fr/fr/" target="_blank">ITODYS</a></li>
              <li><a class="notranslate" href="https://luciole-vision.com/en/index.html#intro" target="_blank">Luciole</a></li>
              <li><a href="{% url 'simulator:disclaimer' %}" class="notranslate" style="color: var(--primary-color);">
              Privacy Notice & Disclaimer</a></li>
    </div>
<br>

          <div class="logo-band notranslate" translate="no">
            <div class="container mt-4">
              <div class="row justify-content-center gy-3">
                <div class="col-6 col-sm-3 col-md-2 text-center">
                  <img src="{% static 'frontend/images/University-of-Palermo.png' %}" alt="Palermo Logo" class="img-fluid logo" />
                </div>
                <div class="col-6 col-sm-3 col-md-2 text-center">
                  <img src="{% static 'frontend/images/rimed-logo.png' %}" alt="RIMED Logo" class="img-fluid logo" />
                </div>
                <div class="col-6 col-sm-3 col-md-2 text-center">
                  <img src="{% static 'frontend/images/paris-cite-logo.jpg' %}" alt="Paris Cité Logo" class="img-fluid logo" />
                </div>
                <div class="col-6 col-sm-3 col-md-2 text-center">
                  <img src="{% static 'frontend/images/itodys-logo.png' %}" 
                    alt="ITODYS Logo" 
                    class="img-fluid logo itodys-logo" />
                </div>


              </div>
            </div>
          </div>
          <br>

    <p class="mb-0">© 2025 AGAPE. All rights reserved.</p>
          <br>
  </div>
</footer>
