<footer>
  <div class="container text-center">
    <div class="footer mt-5">     
            <div class="footer-links">
              <p><strong>RESOURCES</strong></p>
              <li><a class="notranslate" href="https://github.com/Ugomolinf/AGAPE" target="_blank">AGAPE GitHub</a></li>
              <li><a class="notranslate" href="https://www.unipa.it/" target="_blank">Università degli Studi di Palermo</a></li>
              <li><a class="notranslate" href="https://www.fondazionerimed.eu/" target="_blank">Fondazione Ri.MED</a></li>
              <li><a class="notranslate" href="https://u-paris.fr/" target="_blank">Université Paris Cité</a></li>
              <li><a class="notranslate" href="https://www.itodys.univ-paris-diderot.fr/fr/" target="_blank">ITODYS</a></li>
              <li><a href="#" class="notranslate" style="color: var(--primary-color);" data-bs-toggle="modal" data-bs-target="#privacyModal">
              Privacy Notice & Disclaimer</a></li>
    </div>

    <p class="mb-0">© 2024 AGAPE. All rights reserved.</p>
  </div>
</footer>
