{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-3">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="/">AGAPE</a>

    <!-- Burger -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">

        <!-- Home -->
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'home' %}active{% endif %}"
            href="/"
          >
            Home
          </a>
        </li>

        <!-- New simulation -->
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'simulator' %}active{% endif %}"
            href="/simulator/"
          >
            New simulation
          </a>
        </li>

        <!-- Assemblies -->
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'browse' %}active{% endif %}"
            href="/browse/"
          >
            Browse assemblies
          </a>
        </li>

        <!-- Plasmids -->
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'plasmids' %}active{% endif %}"
            href="/plasmids/"
          >
            Browse collections
          </a>
        </li>

        <!-- Simulations -->
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'simulations' %}active{% endif %}"
            href="/simulator/simulations/"
          >
            My Simulations
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
