{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom border-3">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="/">AGAPE V.2</a>

    <!-- Burger -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'home' %}active{% endif %}"
            href="{% url 'frontend:home' %}">
              Home
          </a>
        </li>

        <!-- New simulation -->
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'simulator' %}active{% endif %}"
            href="{% url 'simulator:simulation' %}">
              New simulation
          </a>
        </li>

        <!-- Results -->
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'results' %}active{% endif %}"
            href="{% url 'simulator:results' %}">
              Results
          </a>
        </li>

        <!-- Contact Us -->
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'contact_us' %}active{% endif %}"
            href="{% url 'simulator:contact' %}">
              Contact Us
          </a>
        </li>

        <!-- FAQ -->
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'FAQ' %}active{% endif %}"
            href="{% url 'simulator:faq' %}">
              FAQ
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
