{% extends "frontend/base.html" %}
{% block title %}AGAPE - Contact Us{% endblock %}

{% block content %}
 

<!-- Contact Section -->
      <section class="section sec5 contact py-5" id="contact">
        <div class="container">
          <h2 class="text-center">Contact Us</h2>
          <p class="contact-intro text-center mb-4">
            Do you have questions about the AGAPE model or want to collaborate? <br />
            We'd like to hear from you.
          </p>
         <form action="https://api.web3forms.com/submit" method="POST" id="contact-form" class="contact-form">
            <input type="hidden" name="access_key" value="dd96c3b1-4fab-4863-a3ba-17fab11e34a3">

            <input
              type="text"
              name="name"
              class="form-control mb-3"
              placeholder="Your Name"
              required
            />
            <input
              type="email"
              name="email"
              class="form-control mb-3"
              placeholder="Your Email"
              required
            />
            <textarea
              name="message"
              class="form-control mb-3"
              placeholder="Your Message"
              required
            ></textarea>

            <button type="submit" class="btn run-button">Send Message</button>
          </form>


      </section>

{% endblock %}      